.containerQuickLinks {
      height: 30%;
      display: flex;
      width: 100%;
      background-color: black;
      font-size: calc(1rem + 1vw);
      font-family: 'Montserrat', sans-serif;
      line-height: 35px;
      color: white;
      justify-content: space-between;
      text-align: center;
      padding: 3%;
}

.divQuickLinks {
    width: 50%;
}

.divSocial {
    width: 50%;
}

.quickLinksDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.socialDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.listElement {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.socialElement {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.UlHeadline {
    text-align: center;
}

@media (max-width: 1060px) {
    .containerQuickLinks {
        font-size: calc(1rem + 1vw);
    }
}
@media (max-width: 600px) {
    .containerQuickLinks {
        font-size: calc(1rem + 1vw);
    }
}