.container {
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 5px;
    padding-right: 5px;
    top: 0;
    left: 0;
    right: 0;
    position: static;
    line-height: 10%;
    z-index: 1,
}

.raf {
    font-size: calc(1.5rem + 1vw);
    font-family: 'Merriweather', serif;
}

.iconsRight {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1060px) {
    .raf {
        font-size: calc(1rem + 1vw);
    }
}
@media (max-width: 600px) {
    .raf {
        display: none;
    }
}