.sidebar {
    position: fixed;
    z-index: 400;
    top: 0;
    left: -250px;
    width: 300px;
    height: 100%;
    padding: 10px 20px;
    background-color: black;
    overflow-y: auto;
    transform: translateX(250px);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.buttonOpen {
    font-size: calc(0.8rem + 1vw);
    align-items: center;
    display: flex;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: none;
    color: black;
}

.buttonClose {
    font-size: 23px;
    left: 4px;
    top: 4px;
    cursor: pointer;
    border: none;
    background-color: black;
    padding: 0;
    color: white;
}

.para {
    font-size: calc(0.8rem + 1vw);
    margin-top: 50px;
}

.anchorTag {
    color: white;
    text-decoration: none;
}

@media (max-width: 1060px) {
    .para {
        font-size: calc(0.7rem + 1vw);
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 200px;
    }
}